# older versions

*~

# emacs detritus
*\#
\.\#*
.emacs*

.jekyll-cache/
*.swp
_site
.sass-cache
.jekyll-metadata
public/
node_modules/
_gen/
.hugo_build.lock
.idea
data/bibliography.json
static/data/bibliography.json
static/data/bibItems/
/docs
/scripts/*.json
/scripts/*.err
/content/en/history/bibliography/**
!/content/en/history/bibliography/_index.md
