<div id="td-sidebar-menu" class="td-sidebar__inner">
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle" type="button"
      data-bs-toggle="collapse" data-bs-target="#td-section-nav"
      aria-controls="td-section-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>

  <nav class="td-sidebar-nav" id="td-section-nav">
    <ul class="td-sidebar-nav__section pe-md-3 ul-0">
      {{- range site.Menus.main.ByWeight }}
      <li class="td-sidebar-nav__section-title td-sidebar-nav__section without-child">
        <a href="{{ .URL }}"
          {{ with .Params.rel }}rel="{{ . }}"{{ end }}
          {{ with .Params.target }}target="{{ . }}"{{ end }}
          class="align-left ps-0 td-sidebar-link td-sidebar-link__section">
          {{ with .Pre }}<span aria-hidden="true">{{ . | safeHTML }}</span> {{ end }}<span>{{ .Name }}</span>
        </a>
      </li>
      {{- end }}
    </ul>
  </nav>
</div>
