.text-center.py-2 .text-white {
    display: none;
}

div.td-page-meta {
    display: none;
}

.hero-content-column {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 28em 28em;
}
