/* Carousel styles*/

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

/*body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}*/

/* Remove scrollbar css interfering with bibliography pages
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}
  */

/* Main styles */

.text-center.py-2 .text-white {
    display: none;
}

div.td-page-meta {
    display: none;
}

.hero-content-column {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 28em 28em;
}

.hero-content-column .text-center h1, .hero-content-column .text-center p {
    text-shadow: 3px 3px 0 #333;
}

.hero-content-column .top-summary {
    background: rgba(0,0,0,0.3);
    padding: 8px;
    border-radius: 12px;
}
