  .navbar-brand {
        text-transform: none;
        text-align: center;

        .nav-link {
            display: inline-block;
            margin-right: -30px;
        }

        svg {
            display: inline-block;
            margin: 0 10px;
            height: 40px;
						width: 100px;
        }
    };

    // Disable display of Create Child Page, Edit Page and Create Document Issue links
    // in right pane.
  .td-page-meta--child { display: none !important; }
  .td-page-meta--edit { display: none !important; }
  .td-page-meta--issue { display: none !important; }
  