.text-center.py-2 .text-white {
    display: none;
}

.td-page-meta {
    display: none;
}

.td-navbar .navbar-brand__name {
    display: none;
}

// Image gallery shortcode styles
.image-gallery {
    overflow: auto;
    margin-left: -1% !important;
    
    li {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 19%;
        
        a {
            text-align: center;
            text-decoration: none !important;
            color: #777;
            
            span {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 3px 0;
            }
            
            img {
                width: 100%;
                display: block;
            }
        }
    }
}
