$primary: #30638e;  // rgb(48, 99, 142)
$secondary: #f08073;

$td-enable-google-fonts: true;

// Set the navbar background color to match the primary color
$td-navbar-bg-color: #30638e;

// $enable-dark-mode: false;
