{{ $dir := string (.Get "gallery_dir") }}
<ul class="image-gallery">
{{ range (readDir (print "/assets" $dir)) }}
{{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
{{- $imagetitle := index (split .Name ".") 0 -}}
	<li>
		<a href="{{ ($image.Fit "1600x1600 q50").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image">
			<img src="{{ ($image.Fill "200x200 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
			<span>{{ $imagetitle }}</span>
		</a>
	</li>
{{ end }}
</ul>