---
title: Medley Interlisp Project
---

{{< blocks/cover title="Medley Interlisp Project" subtitle="" image_anchor="smart" color="orange" height="min">}}
<div class="mx-auto mt-5">
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

<header>
  <h1>Home of the Medley Interlisp Project</h1>
</header>

<p>Interlisp was a pioneering software development environment from the 1970s at 
Xerox PARC targeted primarily at the AI software development community. A group 
of its developers and users have gotten together to revive Interlisp -- as a 
language, environment, spirit -- in the Medley Interlisp Project.  
</p>

<p>Because Interlisp has been around a long time, with multiple iterations, you 
might find the multitude of names for the Interlisp language and related 
companies confusing. To assist, we have created a list of common
<a href="medley/project/vocabulary">vocabulary</a> you will find on this website.
</p>

{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="The Medley Interlisp Project" %}}
<p>
 Be a part of preserving a seminal piece of software showcasing an early 
 Human-Computer interaction platform.
</p>
<div class="mx-auto">
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="{{< relref "medley/project" >}}">
		Get Involved <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-medal" title="Try Medley" %}}
<p>
  Follow instructions for running Medley  on a variety of platforms. You will 
  see pointers to documents, directions for running Medley online, installing 
  Medley, and reporting bugs.
</p>
<div class="mx-auto">
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="{{< relref "medley/using/running" >}}">
		Running Medley <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>

{{% /blocks/feature %}}

 {{% blocks/feature icon="fas fa-feather" title="History of Interlisp" %}}
 <p>
  Discover the history of Interlisp including research materials and an 
  extensive bibliography.
 </p>

 <div class="mx-auto">
   <a class="btn btn-lg btn-danger mr-3 mb-4" href="{{< relref "medley/history" >}}">
     History <i class="fas fa-arrow-alt-circle-right ml-2"></i>
   </a>
 </div>
 
 {{% /blocks/feature %}}
 
 {{< /blocks/section >}}
