---
title: Medley Interlisp Project
---

{{< blocks/cover title="Medley Interlisp Project" subtitle="" image_anchor="smart" color="orange" height="min">}}
{{< /blocks/cover >}}


{{< blocks/section color="white" >}}
<header>
  <h1>Home of the Medley Interlisp Project</h1>
</header>
Interlisp was a pioneering software development environment from the 1970s at 
Xerox PARC targeted primarily at the AI software development community. A group 
of its developers and users have gotten together to revive Interlisp -- as a 
language, environment, spirit -- in the Medley Interlisp Project.  

Because Interlisp has been around a long time, with multiple iterations, you 
might find the multitude of names for the Interlisp language and related 
companies confusing. To assist, we have created a <a href=project/vocabulary> 
list of common vocabulary you will find on this website.</a>

{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Why Medley Interlisp?" %}}
Perserving and making available a seminal piece of software software.
Showcasing an early platform for exploring Human Computer Interactions.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-medal" title="Try Medley Interlisp" %}}
The Medley Interlisp System is being restored.
You can experience the look and feel.

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-feather" title="How do I get involved?" %}}
Old software, much like old houses and cars, needs craftspeople to restore
it back to its full potential.
{{% /blocks/feature %}}

{{< /blocks/section >}}

## Home of the Medley Interlisp Project

Interlisp was a pioneering software development environment from the 1970s at Xerox PARC targeted primarily at the AI software development community. A group of its developers and users have gotten together to revive Interlisp -- as a language, environment, spirit -- in the Medley Interlisp Project.

Because Interlisp has been around a long time, with multiple iterations, you might find the multitude of names for the Interlisp language and related companies confusing. To assist, we have created a <a href=project/vocabulary> list of common vocabulary you will find on this website.</a>

<a href=project>
  <img src="Graphics/Why is Medley Interlisp worth all this effort.jpg"
  alt="Why is Medley Interlisp worth all this effort?" > </a>
<p></p>

<a href=using\running>
  <img src="Graphics/How do I access and use Medley Interlisp.jpg"
  alt="How do I access and use Medley Interlisp?" > </a>
<p></p>
How you can try it out and what barriers you'll encounter.
Pointers to documentation, running online, installing, reporting bugs.
	
# [How do I get involved?](Other/getInvolved/)
<a href=Other/getInvolved>
  <img src="Graphics/How do I get involved.jpg"
  alt="How do I get involved?" > </a>
<p></p>
What we're doing, how we work, what our goals are, how you can participate, how you can contribute. Pointers to github. Open Source.

# [What applications were built in Interlisp?](apps)
Other applications built in Interlisp that we're now able to revive as well.
<a href=apps>
  <img src="Graphics/What applications were built in Interlisp.jpg"
  alt="What applications were built in Interlisp?" > </a>
<p></p>

# [How do I donate to the project? What will my donation help you accomplish?](donate)
How and why to donate money... think of us as a virtual museum exhibit.
<a href=donate>
  <img src="Graphics/How do I donate to the project- What will my donation help you accomplish.jpg"
  alt="How do I donate to the project? What will my donation help you accomplish?" > </a>
<p></p>

# [What materials do you have about the history of software including Interlisp?](history)
The History of Interlisp, available material for research, an extensive bibliography.
<a href=history>
  <img src="Graphics/What materials do you have about the history of software including Interlisp.jpg"
  alt="What materials do you have about the history of software including Interlisp?" > </a>
<p></p>