{{ define "main" }}
 <br><br><br>
  <h1>Publications</h1>
  {{- $pages := .Pages.ByParam "date" }}
  <ul>
    {{ range $pages }}
      <li>
        {{- $rawTitle := or .Params.title .Title -}}
        {{- $rendered := replaceRE "^<p>(.*)</p>$" "$1" $rawTitle -}}
        {{- $rendered = $rawTitle | markdownify -}}
        <span><strong>{{ $rendered }}</strong></span><br>

        {{- warnf "Parameters $s " .Params }} 
        {{- $d := cond (ne .Params.date nil) (time .Params.date) .Date -}}
        <time datetime="{{ $d.Format "2006-01-02" }}">{{ $d.Format "2006-01-02" }}</time><br>

        {{ with .Params.abstract }}
          {{- $plain := . | markdownify | plainify | replaceRE `\s+` " " -}}
          {{- $words := split $plain " " -}}
          {{- $previewWords := cond (gt (len $words) 24) (first 24 $words) $words -}}
          {{- $preview := delimit $previewWords " " -}}
          <div>{{ $preview }}{{ if gt (len $words) 24 }}…{{ end }}</div>
          <br>
      {{ end }}

        {{- $authors := .Params.authors -}}
        {{- warnf "authors: $s" $authors }}
      {{- if $authors -}}
        {{- if reflect.IsSlice $authors -}}
          {{ delimit $authors ", " " and " }}<br>
        {{- else -}}
          {{ $authors }}<br>
        {{- end -}}
      {{- end -}}
        <a href="{{ .RelPermalink }}">Read more</a>
        <br><br>
      </li>
    {{ end }}
  </ul>
{{ end }}