
<table style="max-width: 100%">
    <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {{ $years_items := getJSON "data/bibliography.json" }}
        {{ range $year, $items := $years_items }}
          <tr>
            <th colspan="3">
              {{ $year }}
            </th>
          </tr>
          {{ range $items }}
            <tr>
              <td>
                {{ range .author }}
                  {{ if .literal }}
                    {{ .literal }}
                  {{ else if and .family .given }}
                    {{ .family }}, {{ .given }}
                  {{ else }}
                    {{ .family }}{{ .given }}
                  {{ end }}<br>
                {{ end }}

              </td>
              <td>{{ if .URL }}<a href="{{ .URL }}">{{ .title }}</a>{{ else }}{{ .title }}{{ end }}</td>
              <td>{{ .note }}</td>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
  
</table>
