<style>
.abstractExpander {
  background-color: #00A6ED;
  color: white;
  cursor: pointer;
  padding: 1px 5px;
  border: none;
  text-align: left;
  margin: 5px auto 2px 25px;
  outline: none;
  font-size: 1.0rem;
}

.abstractContent {
  padding: 5px;
  margin: 0 5px 0 15px;
  display: none;
  font-size: 0.9rem;
  overflow: hidden;
  background-color: #e8e8ff;
  clear: both;
}

.right { float: right }
.left { float: left }

.year {
    margin: 5px auto 2px 15px;
    background-color: #88C;
    color: white;
}

.bibTitle {
    font-weight: 700;
}

.authors { margin: 5px auto 2px 5px; }

.tooltipNotes {
    position: relative;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 400;
    background-color: #00A6ED;
    color: white;
    cursor: pointer;
    padding: 1px 5px;
    border: none;
    text-align: center;
    margin: auto;
    outline: none;
}

/*
Below, where populating the tooltipNotesText, the nested replace functions remove any p-tags, and make - non-breaking.
It also makes space non-breaking.
This is because I cannot determine how to specify not to word wrap the content UNTIL it would exceed the container's max-width (if there even IS a way to do so). This causes long items to wrap VERY BADLY. 
*/
.tooltipNotes .tooltipNotesText {
    visibility: hidden;
    position: absolute;
    min-width: 150px;
    max-width: 600px;
    background-color: #555;
    color: white;
    font-size: 1.0rem;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    overflow-wrap: break-word;
}

.tooltipNotes:hover .tooltipNotesText {
    visibility: visible;
    opacity: 1;
}

.tooltipNotes-left {
  top: 0px;
  bottom:auto;
  right: 128%;  
}

.tooltipNotes-left::after {
    content: "";
    position: absolute;
    top: 0.9rem;
    left: 100%;
    margin-top: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}
.tooltipNotes-right {
  top: -5px;
  bottom:auto;
  left: 125%;  
}

.tooltipNotes-right::after {
    content: "";
    position: absolute;
    top: 0.9rem;
    right: 100%;
    margin-top: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltipNotes-bottom {
  top: 135%;
  left: 50%;  
  margin-left: -60px;
}

.tooltipNotes-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltipNotes-top {
  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}

.tooltipNotes-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

</style>

{{ $notesIcon := "\u24C3" }}
{{ $nonBreakingHyphen := "\u2011" }}
<script>
var abstractExpanderOpen = "Abstract \u25BC";
var abstractExpanderClose = "Abstract \u25B2";

/*
var abstractExpanderOpen = "Abstract +";
var abstractExpanderClose = "Abstract -";
*/</script>

<table style="max-width: 100%">
    <thead>
      <tr>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody style="overflow:auto">
      {{ $years_items := getJSON "data/bibliography.json" }}
      {{ range $year, $items := $years_items }}
        <tr>
          <th class="year"><b>{{ $year }}</b></th>
        </tr>
        {{ range $items }}
        <tr>
          {{ $itemID := (cond (gt (len .id) 0) (replace .id `/` `_`) `_0`) }}
          <td><div class="bibTitle">{{ if .url }}<a href="{{ .url }}">{{ .title }}</a>{{ else }}{{ .title }}{{ end }}</div>
          {{ if .author }}<div class="authors">  
            {{ range $na, $au := .author }}{{ if $na }}; {{ end }}{{ if $au.literal }}{{ $au.literal }}{{ else if and $au.family $au.given }}{{ $au.family }}, {{ $au.given }}{{ else }}{{ $au.family }}{{ $au.given }}{{ end }}{{ end }}
          </div>{{ end }}
          {{ if .abstract }}<button type="button" class="abstractExpander left" id="A{{$itemID}}">AAA</button>{{ end }}
          {{ if and false .note }}
            {{ $notes := split (plainify .note) "\n" }}
            <div class="tooltipNotes right" id="N{{$itemID}}">Notes
            <span class="tooltipNotesText tooltipNotes-left" id="N{{$itemID}}_Text">
              {{ range $nn, $note := $notes }}
                {{if strings.ContainsNonSpace $note }}
                  {{ if $nn }}<br>{{ end }}
                  {{ print (safeJS (replace (replace (htmlUnescape $note) "-" $nonBreakingHyphen) " " " ")) }}
                {{ end }}
              {{ end }}</span></div>
          {{ end }}
          {{ if .abstract }}<br><div class="abstractContent" id="A{{$itemID }}_Abs">
            {{ range $na, $abstract := split (plainify .abstract) "\n" }}
                {{if strings.ContainsNonSpace $abstract }}
                  {{ if $na }}<br>{{ end }}
                  {{ $trimmed := strings.TrimLeft " " $abstract }}{{ $indent := (sub ($abstract | len)  ($trimmed | len)) }}
                  {{ print (safeJS (htmlUnescape (printf "%s" $trimmed | printf "%s%s" (strings.Repeat $indent " ") |  printf "%s"))) }}
                {{ end }}
              {{ end }}
            </div>{{ end }}</td>
        </tr>
        {{ end }}
      {{ end }}
    </tbody>
  
</table>
<script>
function abstractExpanderClick() {
    this.classList.toggle("active");
    var abstractContent = document.getElementById(this.id.concat("_Abs"));
    if (abstractContent.style.display === "block") {
      abstractContent.style.display = "none";
      this.textContent = abstractExpanderOpen;
    } else {
      abstractContent.style.display = "block";
      this.textContent = abstractExpanderClose;
    }
  }
  
function tooltipNotesTextMouseOver() {
    // this.classList.toggle("active");
    var content = document.getElementById(this.id.concat("_Text"));
    if (content.style.display === "block") {
      abstractContent.style.display = "none";
      // this.textContent = abstractExpanderOpen;
    } else {
      abstractContent.style.display = "block";
      // this.textContent = abstractExpanderClose;
    }
  }

var i;
var coll = document.getElementsByClassName("abstractExpander");
for (i = 0; i < coll.length; i++) {
  coll[i].textContent = abstractExpanderOpen;
  coll[i].addEventListener("click", abstractExpanderClick); }

</script>

